DATAPREP:
  TESTDATA:
    OPTS:
      RAW_DIR: $DES_ROOT/lcmerge/DESALL_forcePhoto_real_snana_fits

SIM:
  TRAININGSIM:
    IA_G10:
      BASE: sn_ia_salt2_g10.input
    II_JONES:
      BASE: sn_collection_jones.input
    GLOBAL:
      NGEN_UNIT: 0.3
      RANSEED_REPEAT: 10 12345

  TESTSIM:
    IA_G10:
      BASE: sn_ia_salt2_g10.input
    II_JONES:
      BASE: sn_collection_jones.input
      DNDZ_ALLSCALE: 1.0
    GLOBAL:
      NGEN_UNIT: 0.2
      RANSEED_REPEAT: 5 12345

  IADES:
    IA_G10:
      BASE: sn_ia_salt2_g10.input
    GLOBAL:
      NGEN_UNIT: 0.3
      RANSEED_REPEAT: 10 12345

  CCONLY:
    IBC_TEMPLATES:
      BASE: sn_ibc_templates.input
    II_TEMPLATES:
      BASE: sn_ii_templates.input
    GLOBAL:
      NGEN_UNIT: 0.3
      RANSEED_REPEAT: 5 12345

LCFIT:
  TESTFIT:
    BASE: des.nml

CLASSIFICATION:
  SNIRFTRAIN:
    CLASSIFIER: SnirfClassifier
    MODE: train
    MASK_SIM: TRAINING

  SNIRFTEST:
    CLASSIFIER: SnirfClassifier
    MODE: predict
    OPTS:
      MODEL: SNIRFTRAIN

AGGREGATION:
  AGG:

MERGE:
  MERGE:

BIASCOR:
  BIASCOR:
    DATA: TESTDATA
    BIAS_COR_FITS: IADES
    CC_PRIOR_FITS: CCONLY
    CLASSIFIER: SNIRFTEST